@import '../../fonts/opensans.css';

body {
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
  background: #000;
  min-width: 400px;
}

*:focus {
  outline: none;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
}
#video video {
  position: absolute;
}

#control-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 33%,rgba(0,0,0,0) 66%,rgba(0,0,0,1) 90%,rgba(0,0,0,1) 100%);
  transition: 0.2s;
}

.control {
  transition: 0.2s opacity;
}

#icon {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 50px;
}
#title-container {
  position: absolute;
  left: 110px;
  top: 30px;
  height: 50px;
  width: calc(100% - 200px);
}
#title {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font: 20px "Open Sans", sans-serif;
  color: #fff;
  margin: 0;
  overflow: hidden;
}
#exit {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 30px;
  cursor: pointer;
}

#playback-container {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 30px;
  height: 30px;
}
#playback {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 20px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

#volume-container {
  position: absolute;
  left: 70px;
  bottom: 20px;
  width: 30px;
  height: 30px;
}
#volume-icon {
  position: absolute;
  left: 50%;
  bottom: 5px;
  height: 20px;
  transform: translate(-50%);
  cursor: pointer;
}
#volume {
  -webkit-appearance: none;
  position: absolute;
  left: 17px;
  bottom: 40px;
  width: 0;
  opacity: 0;
  background: none;
  transition: 0.2s width, 0.2s opacity;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  cursor: pointer;
}
#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 6.5px;
  background: #ff8080;
  margin-top: -4px;
}
#volume::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  border-radius: 3px;
  height: 5px;
  background: #fff;
}
#volume-container:hover, #volume-container:active {
  height: 140px;
}
#volume-container:hover > #volume, #volume-container:active > #volume {
  width: 80px;
  opacity: 1;
}

#progress-container {
  position: absolute;
  left: 120px;
  bottom: 20px;
  width: calc(100vw - 240px);
  height: 45px;
}
#time-elapsed, #time-duration {
  position: absolute;
  bottom: 30px;
  margin: 0;
  font: 14px "Open Sans", sans-serif;
  color: #fff;
}
#time-elapsed {
  left: 0;
}
#time-duration {
  right: 0;
}
#progress-total {
  position: absolute;
  left: 0;
  bottom: 12px;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background: #555;
  transition: 0.2s height;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
}
#progress {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background: #ff8080;
  width: 0;
}
#progress-total:active {
  height: 10px;
}

#download-container {
  position: absolute;
  right: 70px;
  bottom: 20px;
  width: 30px;
  height: 30px;
}
#download-icon, #check-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 20px;
  transform: translate(-50%, -50%);
}
#download-icon {
  cursor: pointer;
}

#fullscreen-container {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 30px;
  height: 30px;
}
#fullscreen {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 20px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}


#loading {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: #fff;
  z-index: 5;
}
#loading::before {
	content: "";
	position: absolute;
	right: calc(50vw - 15px);
	top: calc(50vh - 50px);
	width: 30px;
	height: 30px;
	background: #ff6a6a;
	border-radius: 15px;
	transform-origin: 0 80px;
	animation: loading 1.5s infinite linear;
}
#loading::after {
	content: "";
	position: absolute;
	right: calc(50vw - 15px);
	top: calc(50vh + 50px);
	width: 30px;
	height: 30px;
	background: #ff6a6a;
	border-radius: 15px;
	transform-origin: 0 -30px;
	animation: loading 1.5s infinite linear;
}

@keyframes loading {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
