@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|BenchNine:700');
body {
	margin: 0;
	min-width: 500px;
}
#header {
	position: absolute;
	left: 0;
	top: 0;
	height: 80px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	z-index: 9999;
}
#header-logo {
	display: inline-block;
	height: 100%;
}
.header-links {
	text-align: center;
	padding: 10px;
	padding-top: 16px;
	padding-bottom: 4px;
	box-sizing: border-box;
	float: right;
	height: 100%;
	font: 20px "Open Sans", sans-serif;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}
.header-links img {
	height: 30px;
}
@media (max-width: 330px) {
	.header-links {
		animation: fadeout 0.2s;
		display: none;
	}
}
@keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		display: none;
	}
}

#hero {
	position: relative;
	display: table;
	padding-top: 80px;
	padding-bottom: 20vh;
	box-sizing: border-box;
	width: 100%;
	height: 70vh;
	background-color: #2f2f2f;
	background-image: url("../images/hero.jpg");
	background-size: cover;
}
#hero-content {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 40px;
	box-sizing: border-box;
}
#hero-title {
	font: 100px BenchNine, sans-serif;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
}
#hero-description {
	font: 25px "Open Sans", sans-serif;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
}
#hero-download {
	text-align: center;
	padding: 15px 30px;
	display: inline-block;
	box-sizing: border-box;
	font: 30px "Open Sans", sans-serif;
	font-weight: 300;
	text-decoration: none;
	border-radius: 100px;
	color: #ff2a2a;
	border: 3px solid #ff2a2a;
	cursor: pointer;
	margin-top: 30px;
	transition: 0.2s background;
}
#hero-download:hover {
	background: rgba(255, 255, 255, 0.05);
}
.hero-platforms {
	position: relative;
	display: inline-block;
	top: -6px;
	font: 12px "Open Sans", sans-serif;
	color: #ccc;
}
a.hero-platforms {
	color: #ccc;
	text-decoration: none;
	border-bottom: 1px dashed #ccc;
}
#hero-screenshot {
	height: 40vh;
	width: auto;
	position: relative;
	display: inline-block;
	margin: 0;
	margin-top: -20vh;
	margin-bottom: 20px;
	padding: 0;
	z-index: 9999;
	box-shadow: 0 14px 12px -10px rgba(0,8,26,0.32);
	overflow: hidden;
	border-radius: 5px;
}
#hero-screenshot img {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
@media (max-width: 76vh) {
	#hero-screenshot {
		width: 100%;
		height: auto;
		margin-top: -27.1%;
	}
	#hero-screenshot img {
		margin-bottom: -4px;
	}
}
#features {
	margin: 0;
	padding: 20px;
	padding-top: 0;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	background: #fff;
	text-align: center;
}
#features h1 {
	font: 50px "Open Sans", sans-serif;
	color: #2f2f2f;
	margin: 0;
	margin-bottom: 20px;
}
#features-grouper {
	width: 100%;
	max-width: 775px;
	padding: 0;
	margin: 0;
	position: relative;
	display: inline-block;
}
.feature {
	position: relative;
	display: inline-block;
	padding: 10px;
	margin: 20px;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	color: #2f2f2f;
	text-align: center;
	max-width: 345px;
}
.feature h2 {
	font-size: 24px;
	margin: 0;
}
.feature p {
	font-size: 14px;
}
.feature img {
	margin: 0;
	width: 40px;
}
#downloads {
	margin: 0;
	padding: 20px;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	background: #0f0f0f;
	text-align: center;
}
#downloads h1 {
	display: inline-block;
	font: 50px "Open Sans", sans-serif;
	color: #fff;
	margin: 0;
	margin-bottom: 20px;
}
#version-selector {
	position: relative;
	display: none;
}
#version-selector select{
	display: inline-block;
	border: none;
	background-color: #0f0f0f;
	font: 24px "Open Sans", sans-serif;
	color: #aaa;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-right: 8px;
	outline: none;
	border-bottom: 2px dashed #aaa;
}
#version-selector select:focus {
	outline: none;
}
#version-selector select:-moz-focusring {
  color: transparent;
	text-shadow: 0 0 0 #aaa;
}
#version-selector::before {
	position: absolute;
	right: 0;
	bottom: 0;
	content: "";
	color: #aaa;
	pointer-events: none;
	border: 4px solid transparent;
	border-bottom-color: #aaa;
	border-right-color: #aaa;
	width: 0;
	height: 0;
}
#downloads noscript {
	font-family: "Open Sans", sans-serif;
	color: #aaa;
	font-size: 16px;
}
#downloads noscript a {
	color: #ddd;
	text-decoration: none;
	border-bottom: 1px dashed #ddd;
}
.platform {
	position: relative;
	display: none;
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	color: #fff;
	margin: 0;
	text-align: left;
	max-width: 800px;
}
.platform h2 {
	font-size: 24px;
	margin: 0;
	margin-left: 80px;
}
.platform h3 {
	font-size: 12px;
	margin: 0;
	margin-left: 80px;
	color: #aaa;
}
.platform img {
	float: left;
	width: 60px;
	margin: 0;
}
.platform a {
	text-align: center;
	padding: 10px;
	display: inline-block;
	box-sizing: border-box;
	font: 24px "Open Sans", sans-serif;
	text-decoration: none;
	border: 1px solid #fff;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	float: right;
	margin-top: -50px;
}
@media (max-width: 600px){
	.platform img {
		float: none;
		margin: 0;
		margin-bottom: 10px;
	}
	.platform h2, .platform h3 {
		margin: 0;
	}
	.platform a {
		float: none;
		margin: 0;
		margin-top: 10px;
	}
	.platform {
		text-align: center;
	}
}
#footer {
	margin: 0;
	padding: 20px;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	background: #0f0f0f;
	text-align: center;
	font: 16px "Open Sans", sans-serif;
	color: #aaa;
	margin: 0;
	border-top: 1px dashed #555;
}
#footer a {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px dashed #fff;
}
#footer svg {
	margin-bottom: -0.4em;
	height: 1.5em;
	fill: #fff;
}
